.sign-up-modal {
    background-color: rgba(0, 0, 0, 0.59);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    @include gen-flex(center);
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;

    &.show {
        visibility: visible;
        opacity: 1;
    }

    #close-sign-up {
        position: absolute;
        top: 5%;
        right: 30%;
        cursor: pointer;
    }

    #confirm-message {
        position: relative;
        left: 8%;
    }

    #form1 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 400px;
        width: 350px;

        .name-label, .email-label, .password-label, .conpass-label {
            position: relative;
            top: 0%;
            left: 5%;
            color: $text-color;
        }

        #name {
            padding: 0 5px 0 5px;
            height: 30px;
            width: 300px;
            margin: 10px 0 10px 0;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    
        #email {
            padding: 0 5px 0 5px;
            height: 30px;
            width: 300px;
            margin: 10px 0 10px 0;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    
        #password {
            padding: 0 5px 0 5px;
            height: 30px;
            width: 300px;
            margin: 10px 0 10px 0;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    
        #conpass {
            padding: 0 5px 0 5px;
            height: 30px;
            width: 300px;
            margin: 10px 0 10px 0;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        #submit {
            cursor: pointer;
            background-color: $head-color;
            color: $text-color;
            margin-top: 10px;
            padding: 0 5px 0 5px;
            height: 30px;
            width: 80px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            border: none;
            border-radius: 20px;
            transition: 0.4s all;

            &:hover {
                color: $head-color;
                background-color: $text-color;
                font-weight: 700;
            }
        }
    }
}