.sign-up-modal {
    background-color: rgba(60, 72, 86, 0.9);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    display: none;
    
    &.show {
        @include gen-flex(center);
    }

    #close-sign-up {
        position: absolute;
        top: 5%;
        right: 30%;
        cursor: pointer;
    }

    #confirm-message {
        position: relative;
        left: 8%;
    }

    #form1 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 400px;
        width: 350px;

        .name-label, .email-label, .password-label, .conpass-label {
            position: relative;
            top: 0%;
            left: 5%;
            color: $text-color;
        }

        #name {
            padding: 0 5px 0 5px;
            height: 30px;
            width: 300px;
            margin: 10px 0 10px 0;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    
        #email {
            padding: 0 5px 0 5px;
            height: 30px;
            width: 300px;
            margin: 10px 0 10px 0;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    
        #password {
            padding: 0 5px 0 5px;
            height: 30px;
            width: 300px;
            margin: 10px 0 10px 0;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    
        #conpass {
            padding: 0 5px 0 5px;
            height: 30px;
            width: 300px;
            margin: 10px 0 10px 0;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        #submit {
            cursor: pointer;
            background-color: $head-color;
            color: $text-color;
            margin-top: 10px;
            padding: 0 5px 0 5px;
            height: 30px;
            width: 80px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            border: none;
            border-radius: 20px;
            transition: 0.4s all;

            &:hover {
                color: $head-color;
                background-color: $text-color;
                font-weight: 700;
            }
        }
    }
}

.log-in-modal {
    background-color: rgba(60, 72, 86, 0.8);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    display: none;
    
    &.show {
        @include gen-flex(center);
    }

    #close-log-in {
        position: absolute;
        top: 5%;
        right: 30%;
        cursor: pointer;
    }

    #form2 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 400px;
        width: 350px;

        .email-1-label, .password-1-label, .checkbox-label {
            position: relative;
            left: 5%;
            color: $text-color;
        }
    
        #email1 {
            padding: 0 5px 0 5px;
            height: 30px;
            width: 300px;
            margin: 10px 0 10px 0;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    
        #password1 {
            padding: 0 5px 0 5px;
            height: 30px;
            width: 300px;
            margin: 10px 0 10px 0;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }

        #checkbox {
            cursor: pointer;
            padding: 0 5px 0 5px;
            height: 15px;
            width: 15px;
            position: relative;
            top: -4.5%;
            left: 43%;
            transform: translateX(-50%);
        }

        .forgot {
            cursor: pointer;
            color: $text-color;
            position: relative;
            top: -9.2%;
            right: -5%;
            transform: translateX(50%);
            transition: 0.4s color;

            &:hover {
                color: $head-color;
            }
        }

        #submit {
            cursor: pointer;
            background-color: $head-color;
            color: $text-color;
            padding: 0 5px 0 5px;
            height: 30px;
            width: 80px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            border: none;
            border-radius: 20px;
            transition: 0.4s all;

            &:hover {
                color: $head-color;
                background-color: $text-color;
                font-weight: 700;
            }
        }
    }
}