.video-banner {
    background-image: url("/assets/civic-01.png");
    @include background(center);
    height: 90vh;
    background-attachment: fixed;

    #video {
        @include gen-pos(relative, 50%, 50%);
    }
}