.gallery {
    background-color: $bg-color;
    min-height: calc(100vh - 190px);
    @include gen-flex(space-evenly);
    color: $text-color;
    font-size: 20px;
    font-weight: 700;

    .exhibit-1 {
        background-image: url("../assets/civic-exterior.png");
        @include background(center);
        @include gen-flex(flex-end);
        flex-direction: column;
        height: 250px;
        width: 300px;
        padding-bottom: 30px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;

        &:hover {
            box-shadow: 0 8px 16px $head-color;
        }

        button {
            cursor: pointer;
            margin-top: 15px;
            border-radius: 10px;
            border: transparent;
            height: 30px;
            width: 140px;
            background-color: $head-color;

            &:hover{
                background-color: $text-color;

                a {
                    color: $head-color;
                    font-weight: 700;
                    z-index: 1;
                }
            }

            a {
                text-decoration: none;
                color: $text-color;
            }
        }
    }

    .exhibit-2 {
        background-image: url("../assets/civic-interior.png");
        @include background(center);
        @include gen-flex(flex-end);
        flex-direction: column;
        width: 300px;
        height: 250px;
        padding-bottom: 30px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;

        &:hover {
            box-shadow: 0 8px 16px $head-color
        }

        button {
            cursor: pointer;
            margin-top: 15px;
            border-radius: 10px;
            border: transparent;
            height: 30px;
            width: 140px;
            background-color: $head-color;

            &:hover{
                background-color: $text-color;

                a {
                    color: $head-color;
                    font-weight: 700;
                    z-index: 1;
                }
            }

            a {
                text-decoration: none;
                color: $text-color;
            }
        }
    }

    .exhibit-3 {
        background-image: url("../assets/civic-e-3.png");
        @include background(center);
        @include gen-flex(flex-end);
        flex-direction: column;
        width: 300px;
        height: 250px;
        padding-bottom: 30px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;

        &:hover {
            box-shadow: 0 8px 16px $head-color;
        }

        button {
            cursor: pointer;
            margin-top: 15px;
            border-radius: 10px;
            border: transparent;
            height: 30px;
            width: 140px;
            background-color: $head-color;

            &:hover{
                background-color: $text-color;

                a {
                    color: $head-color;
                    font-weight: 700;
                    z-index: 1;
                }
            }

            a {
                text-decoration: none;
                color: $text-color;
            }
        }
    }
}