.banner {
    background-image: url("../assets/civic-03.png");
    @include background(center);
    height: calc(100vh - 110px);
    background-attachment: fixed;
    @include gen-flex(flex-end);
    flex-direction: column;   

    .sedan-logo {
        background-image: url("../assets/sedan-logo-removebg.png");
        @include background(center);
        height: 100px;
        width: 300px;
        @include gen-pos(absolute, 40%, 82%)
    }

    .sedan-intro-1 {
        @include gen-pos(absolute, 55%, 83%);
        height: 50px;
        width: 350px;
        color: $text-color;
        font-size: 40px;
    }

    .sedan-intro-2 {
        @include gen-pos(absolute, 62%, 83%);
        height: 50px;
        width: 450px;
        color: $text-color;
        font-size: 40px;
    }

    .to-video {
        a {
            @include gen-pos(absolute, 72.5%, 83%);
            height: 50px;
            width: 150px;
            color: $text-color;
            font-size: 20px;
            text-decoration: none;
            transition: 0.7s color;

            &:hover {
                color: $spot-color;
            }
        }
    }
}