@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat);
#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #EEE8A9;
}

#header .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
  width: 100%;
  background-color: #00446b;
}

#header .heading #header-img {
  position: absolute;
  height: 60px;
  width: 80px;
  margin: 0;
  top: 2px;
  left: 30px;
}

#header .heading div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 700px;
  margin: 0 50px 0 0;
}

#header .heading div a {
  text-decoration: none;
  color: #EEE8A9;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

#header .heading div a:hover {
  color: #f28100;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#header #hidden {
  display: none;
  z-index: 5;
}

#header #nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 40px;
  width: 100%;
  background-color: #3C4856;
  z-index: 5;
}

#header #nav-bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: calc(30px - 10px);
}

#header #nav-bar ul li {
  margin: 0 20px 0 0;
  padding: 0 10px 0 0;
  position: relative;
}

#header #nav-bar ul li a {
  text-decoration: none;
  color: #EEE8A9;
}

#header #nav-bar ul li::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  border-bottom: 2px solid #f28100;
  width: 0;
  -webkit-transition: 0.7s width;
  transition: 0.7s width;
}

#header #nav-bar ul li:hover a {
  color: #f28100;
}

#header #nav-bar ul li:hover::after {
  width: 100%;
}

@media screen and (min-width: 420px) and (max-width: 720px) {
  #header {
    position: relative;
  }
  #header .heading #header-img {
    top: 10px;
    height: 40px;
    width: 60px;
  }
  #header .heading div {
    width: 270px;
    margin: 0 20px 0 0;
  }
  #header .heading div a {
    font-size: 12px;
  }
  #header #hidden {
    display: block;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #3C4856;
    padding: 7px 20px 7px 20px;
    z-index: 6;
    cursor: pointer;
  }
  #header #nav-bar.menu-show {
    height: 120px;
    visibility: visible;
    opacity: 1;
  }
  #header #nav-bar {
    height: 120px;
    width: 200px;
    position: absolute;
    right: 0;
    top: 100px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.7s all;
    transition: 0.7s all;
  }
  #header #nav-bar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #header #nav-bar ul li {
    margin: 0;
    padding: 0;
  }
  #header #nav-bar ul li a {
    font-size: 12px;
  }
}

.sign-up-modal {
  background-color: rgba(0, 0, 0, 0.59);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.sign-up-modal.show {
  visibility: visible;
  opacity: 1;
}

.sign-up-modal .form-wrapper {
  height: 450px;
  width: 550px;
  border: 5px solid #3C4856;
  border-radius: 10px;
  background-color: #e2d9c2;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.sign-up-modal .form-wrapper .disclaimer {
  position: absolute;
  bottom: 3%;
  left: 3%;
  font-size: 10px;
}

.sign-up-modal .form-wrapper .newsletter {
  position: absolute;
  color: #3C4856;
  font-weight: 700;
  top: 10%;
}

.sign-up-modal .form-wrapper .newsletter-info {
  position: absolute;
  color: #3C4856;
  font-size: 35px;
  top: 20%;
}

.sign-up-modal .form-wrapper .newsletter-info-2 {
  position: absolute;
  color: #3C4856;
  font-size: 35px;
  top: 30%;
}

.sign-up-modal .form-wrapper #close-sign-up {
  position: absolute;
  top: 3%;
  right: 3%;
  cursor: pointer;
}

.sign-up-modal .form-wrapper #form1 {
  position: absolute;
  top: 22%;
  left: 17.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
  width: 350px;
}

.sign-up-modal .form-wrapper #form1 .name-label, .sign-up-modal .form-wrapper #form1 .email-label {
  position: relative;
  top: 0%;
  left: 5%;
  color: #3C4856;
  font-weight: 700;
}

.sign-up-modal .form-wrapper #form1 #name {
  padding: 0 5px 0 5px;
  height: 30px;
  width: 300px;
  margin: 10px 0 10px 0;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
}

.sign-up-modal .form-wrapper #form1 #email {
  padding: 0 5px 0 5px;
  height: 30px;
  width: 300px;
  margin: 10px 0 10px 0;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
}

.sign-up-modal .form-wrapper #form1 #password {
  padding: 0 5px 0 5px;
  height: 30px;
  width: 300px;
  margin: 10px 0 10px 0;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sign-up-modal .form-wrapper #form1 #conpass {
  padding: 0 5px 0 5px;
  height: 30px;
  width: 300px;
  margin: 10px 0 10px 0;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sign-up-modal .form-wrapper #form1 #submit {
  cursor: pointer;
  background-color: #00446b;
  color: #EEE8A9;
  margin-top: 10px;
  padding: 0 5px 0 5px;
  height: 30px;
  width: 80px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: none;
  border-radius: 20px;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.sign-up-modal .form-wrapper #form1 #submit:hover {
  color: #00446b;
  background-color: #EEE8A9;
  font-weight: 700;
}

@media screen and (min-width: 420px) and (max-width: 720px) {
  .sign-up-modal {
    background-color: rgba(0, 0, 0, 0.59);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.7s;
    transition: 0.7s;
  }
  .sign-up-modal.show {
    visibility: visible;
    opacity: 1;
  }
  .sign-up-modal .form-wrapper {
    height: 350px;
    width: 350px;
    border: 5px solid #3C4856;
    border-radius: 10px;
    background-color: #e2d9c2;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .sign-up-modal .form-wrapper .disclaimer {
    position: absolute;
    bottom: 3%;
    left: 3%;
    font-size: 6px;
  }
  .sign-up-modal .form-wrapper .newsletter {
    position: absolute;
    color: #3C4856;
    font-weight: 700;
    top: 10%;
  }
  .sign-up-modal .form-wrapper .newsletter-info {
    position: absolute;
    color: #3C4856;
    font-size: 20px;
    top: 20%;
  }
  .sign-up-modal .form-wrapper .newsletter-info-2 {
    position: absolute;
    color: #3C4856;
    font-size: 20px;
    top: 30%;
  }
  .sign-up-modal .form-wrapper #close-sign-up {
    position: absolute;
    top: 3%;
    right: 3%;
    cursor: pointer;
  }
  .sign-up-modal .form-wrapper #form1 {
    position: absolute;
    top: 9%;
    left: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 400px;
    width: 350px;
  }
  .sign-up-modal .form-wrapper #form1 .name-label, .sign-up-modal .form-wrapper #form1 .email-label {
    position: relative;
    top: 0%;
    left: 5%;
    color: #3C4856;
    font-weight: 700;
  }
  .sign-up-modal .form-wrapper #form1 #name {
    padding: 0 5px 0 5px;
    height: 30px;
    width: 300px;
    margin: 10px 0 10px 0;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
  }
  .sign-up-modal .form-wrapper #form1 #email {
    padding: 0 5px 0 5px;
    height: 30px;
    width: 300px;
    margin: 10px 0 10px 0;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
  }
  .sign-up-modal .form-wrapper #form1 #submit {
    cursor: pointer;
    background-color: #00446b;
    color: #EEE8A9;
    padding: 0 5px 0 5px;
    height: 30px;
    width: 80px;
    position: relative;
    top: -2.5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border: none;
    border-radius: 20px;
    -webkit-transition: 0.4s all;
    transition: 0.4s all;
  }
  .sign-up-modal .form-wrapper #form1 #submit:hover {
    color: #00446b;
    background-color: #EEE8A9;
    font-weight: 700;
  }
}

.banner {
  background-image: url("../assets/civic-03.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 110px);
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner .sedan-logo {
  background-image: url("../assets/sedan-logo-removebg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100px;
  width: 300px;
  position: absolute;
  top: 40%;
  left: 82%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.banner .sedan-intro-1 {
  position: absolute;
  top: 55%;
  left: 83%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 50px;
  width: 350px;
  color: #EEE8A9;
  font-size: 40px;
}

.banner .sedan-intro-2 {
  position: absolute;
  top: 62%;
  left: 83%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 50px;
  width: 450px;
  color: #EEE8A9;
  font-size: 40px;
}

.banner .to-video a {
  position: absolute;
  top: 72.5%;
  left: 83%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 50px;
  width: 150px;
  color: #EEE8A9;
  font-size: 20px;
  text-decoration: none;
  -webkit-transition: 0.7s color;
  transition: 0.7s color;
}

.banner .to-video a:hover {
  color: #f28100;
}

@media screen and (min-width: 420px) and (max-width: 720px) {
  .banner .sedan-logo {
    position: absolute;
    top: 32%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 83px;
    width: 260px;
  }
  .banner .sedan-intro-1 {
    position: absolute;
    top: 45.5%;
    left: 52%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: auto;
    width: 180px;
    font-size: 20px;
  }
  .banner .sedan-intro-2 {
    position: absolute;
    top: 51.5%;
    left: 52%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: auto;
    width: 220px;
    font-size: 20px;
  }
  .banner .to-video a {
    position: absolute;
    top: 64%;
    left: 52%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 50px;
    width: 150px;
    font-size: 20px;
  }
}

.information {
  background-color: #00446b;
  text-align: center;
  padding: 30px;
}

.information .info-title strong {
  color: #f28100;
  font-size: 40px;
}

.information .info-title span {
  color: #EEE8A9;
  font-size: 40px;
}

.information .info-text {
  margin: 30px 0 30px 0;
  color: #EEE8A9;
  font-size: 20px;
}

.information .info-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #f28100;
  font-size: 20px;
  font-weight: 700;
}

.information .info-features .engine::after {
  content: "Advanced Technology Engine";
  color: #EEE8A9;
  display: block;
  margin-top: 15px;
  font-weight: 400;
}

.information .info-features .sensor::after {
  content: "Security and Safety";
  color: #EEE8A9;
  display: block;
  margin-top: 15px;
  font-weight: 400;
}

.information .info-features .tech::after {
  content: "User Interaction";
  color: #EEE8A9;
  display: block;
  margin-top: 15px;
  font-weight: 400;
}

@media screen and (min-width: 420px) and (max-width: 720px) {
  .information {
    padding: 10px;
  }
  .information .info-title strong {
    color: #f28100;
    font-size: 20px;
  }
  .information .info-title span {
    color: #EEE8A9;
    font-size: 20px;
  }
  .information .info-text {
    margin: 15px 0 15px 0;
    font-size: 12px;
  }
  .information .info-features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 8px;
  }
  .information .info-features .engine::after {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .information .info-features .sensor::after {
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .information .info-features .tech::after {
    margin-top: 5px;
  }
}

.video-banner {
  background-image: url("../assets/civic-01.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
  background-attachment: fixed;
}

.video-banner #video {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 420px) and (max-width: 720px) {
  .video-banner {
    height: 70vh;
  }
  .video-banner #video {
    width: 350px;
    height: 199px;
  }
}

.gallery-info {
  background-color: #00446b;
  text-align: center;
  padding: 30px;
}

.gallery-info strong {
  color: #f28100;
  font-size: 40px;
}

.gallery-info div {
  margin-top: 30px;
  color: #EEE8A9;
  font-size: 20px;
}

@media screen and (min-width: 420px) and (max-width: 720px) {
  .gallery-info {
    padding: 15px;
  }
  .gallery-info strong {
    color: #f28100;
    font-size: 20px;
  }
  .gallery-info div {
    margin-top: 15px;
    font-size: 12px;
  }
}

.gallery {
  background-color: #202124;
  min-height: calc(100vh - 190px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #EEE8A9;
  font-size: 20px;
  font-weight: 700;
}

.gallery .exhibit-1 {
  background-image: url("../assets/civic-exterior.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 250px;
  width: 300px;
  padding-bottom: 30px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.gallery .exhibit-1:hover {
  -webkit-box-shadow: 0 8px 16px #00446b;
          box-shadow: 0 8px 16px #00446b;
}

.gallery .exhibit-1 button {
  cursor: pointer;
  margin-top: 15px;
  border-radius: 10px;
  border: transparent;
  height: 30px;
  width: 140px;
  background-color: #00446b;
}

.gallery .exhibit-1 button:hover {
  background-color: #EEE8A9;
}

.gallery .exhibit-1 button:hover a {
  color: #00446b;
  font-weight: 700;
  z-index: 1;
}

.gallery .exhibit-1 button a {
  text-decoration: none;
  color: #EEE8A9;
}

.gallery .exhibit-2 {
  background-image: url("../assets/civic-interior.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: 250px;
  padding-bottom: 30px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.gallery .exhibit-2:hover {
  -webkit-box-shadow: 0 8px 16px #00446b;
          box-shadow: 0 8px 16px #00446b;
}

.gallery .exhibit-2 button {
  cursor: pointer;
  margin-top: 15px;
  border-radius: 10px;
  border: transparent;
  height: 30px;
  width: 140px;
  background-color: #00446b;
}

.gallery .exhibit-2 button:hover {
  background-color: #EEE8A9;
}

.gallery .exhibit-2 button:hover a {
  color: #00446b;
  font-weight: 700;
  z-index: 1;
}

.gallery .exhibit-2 button a {
  text-decoration: none;
  color: #EEE8A9;
}

.gallery .exhibit-3 {
  background-image: url("../assets/civic-e-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: 250px;
  padding-bottom: 30px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.gallery .exhibit-3:hover {
  -webkit-box-shadow: 0 8px 16px #00446b;
          box-shadow: 0 8px 16px #00446b;
}

.gallery .exhibit-3 button {
  cursor: pointer;
  margin-top: 15px;
  border-radius: 10px;
  border: transparent;
  height: 30px;
  width: 140px;
  background-color: #00446b;
}

.gallery .exhibit-3 button:hover {
  background-color: #EEE8A9;
}

.gallery .exhibit-3 button:hover a {
  color: #00446b;
  font-weight: 700;
  z-index: 1;
}

.gallery .exhibit-3 button a {
  text-decoration: none;
  color: #EEE8A9;
}

@media screen and (min-width: 420px) and (max-width: 720px) {
  .gallery {
    min-height: 80vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 18px;
  }
  .gallery .exhibit-1 {
    height: 200px;
    width: 250px;
    padding-bottom: 15px;
    margin: 20px 0 10px 0;
  }
  .gallery .exhibit-1 button {
    height: 30px;
    width: 100px;
  }
  .gallery .exhibit-1 button a {
    font-size: 12px;
  }
  .gallery .exhibit-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 250px;
    height: 200px;
    padding-bottom: 15px;
    margin: 10px 0 10px 0;
  }
  .gallery .exhibit-2 button {
    height: 30px;
    width: 100px;
  }
  .gallery .exhibit-2 button a {
    font-size: 12px;
  }
  .gallery .exhibit-3 {
    width: 250px;
    height: 200px;
    padding-bottom: 15px;
    margin: 10px 0 20px 0;
  }
  .gallery .exhibit-3 button {
    height: 30px;
    width: 100px;
  }
  .gallery .exhibit-3 button a {
    font-size: 12px;
  }
}

.slideshow {
  background-color: #00446b;
  color: #f28100;
  font-size: 40px;
  text-align: center;
  padding: 20px 0 20px 0;
  position: relative;
  top: 0;
}

.slideshow::after {
  content: "";
  position: absolute;
  right: 7%;
  top: 115px;
  display: block;
  height: 410px;
  width: 350px;
  background-color: #00446b;
  z-index: 2;
  -webkit-box-shadow: 4px 4px 6px black;
          box-shadow: 4px 4px 6px black;
}

.carousel {
  height: 80vh;
  position: relative;
  background-color: #202124;
}

.carousel .slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  -webkit-transition: 300ms opacity ease-in-out;
  transition: 300ms opacity ease-in-out;
}

.carousel .slide img {
  display: block;
  width: 80vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.carousel .exin-1::before {
  content: "Next-Generation Style";
  position: absolute;
  top: 120px;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 320px;
  background-color: transparent;
  color: #EEE8A9;
  z-index: 3;
  font-size: 25px;
  font-weight: 700;
}

.carousel .exin-1::after {
  content: "From its sleek new styling to its airy cabin, the redesigned Civic Sedan is a joy to behold and even better to drive a lower, wider frame and expanded glass areas create a powerful look from the outside while enhancing the view from the inside.";
  position: absolute;
  top: 190px;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 320px;
  background-color: transparent;
  color: white;
  z-index: 3;
  font-size: 20px;
  line-height: 20px;
  text-shadow: 1px 1px 3px #EEE8A9;
}

.carousel .exin-2::before {
  content: "Styling";
  position: absolute;
  top: 120px;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 320px;
  background-color: transparent;
  color: #EEE8A9;
  z-index: 3;
  font-size: 25px;
  font-weight: 700;
}

.carousel .exin-2::after {
  content: "The Civic Sedan comes equipped with LED Headlights and Taillights, 18-Inch Gloss-Black Wheels, Fastback-Inspired Roofline, and Chrome Exhaust Finisher. All giving it a stylish, performance-inspired finish.";
  position: absolute;
  top: 190px;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 320px;
  background-color: transparent;
  color: white;
  z-index: 3;
  font-size: 20px;
  line-height: 20px;
  text-shadow: 1px 1px 3px #EEE8A9;
}

.carousel .exin-3::before {
  content: "Ergonomics";
  position: absolute;
  top: 120px;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 320px;
  background-color: transparent;
  color: #EEE8A9;
  z-index: 3;
  font-size: 25px;
  font-weight: 700;
}

.carousel .exin-3::after {
  content: "Everything on the inside is designed to make your drive more enjoyable, from the wide-open sightlines to the body-stabilizing driver's seat and the simple, easily accessible controls.";
  position: absolute;
  top: 190px;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 320px;
  background-color: transparent;
  color: white;
  z-index: 3;
  font-size: 20px;
  line-height: 20px;
  text-shadow: 1px 1px 3px #EEE8A9;
}

.carousel .exin-4::before {
  content: "Amenities";
  position: absolute;
  top: 120px;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 320px;
  background-color: transparent;
  color: #EEE8A9;
  z-index: 3;
  font-size: 25px;
  font-weight: 700;
}

.carousel .exin-4::after {
  content: "With Heated Seats, One-Touch Power Moonroof, Dual-Zone Climate Control, and 60/40 Split Rear Seatback, these amenities make the Civic Sedan all the more for optimization and comfort.";
  position: absolute;
  top: 190px;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 320px;
  background-color: transparent;
  color: white;
  z-index: 3;
  font-size: 20px;
  line-height: 20px;
  text-shadow: 1px 1px 3px #EEE8A9;
}

.carousel .exin-5::before {
  content: "HPD™ Package";
  position: absolute;
  top: 120px;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 320px;
  background-color: transparent;
  color: #EEE8A9;
  z-index: 3;
  font-size: 25px;
  font-weight: 700;
}

.carousel .exin-5::after {
  content: "Add a custom, high-performance look to your Civic Sedan with this motorsports-inspired package, which includes an HPD™ decklid spoiler, HPD emblem and HPD underbody spoilers.";
  position: absolute;
  top: 190px;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 320px;
  background-color: transparent;
  color: white;
  z-index: 3;
  font-size: 20px;
  line-height: 20px;
  text-shadow: 1px 1px 3px #EEE8A9;
}

.carousel .exin-6::before {
  content: "Accessories";
  position: absolute;
  top: 120px;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 320px;
  background-color: transparent;
  color: #EEE8A9;
  z-index: 3;
  font-size: 25px;
  font-weight: 700;
}

.carousel .exin-6::after {
  content: "The Civic Sedan offer excellent protection, durability, and over-all utility with interior accessories such as Contoured high-wall carpet floor mats, Rear passenger window shades, Trunk tray with dividers, Illuminiated door sill protection trim, and a Cargo net.";
  position: absolute;
  top: 190px;
  left: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 320px;
  background-color: transparent;
  color: white;
  z-index: 3;
  font-size: 20px;
  line-height: 20px;
  text-shadow: 1px 1px 3px #EEE8A9;
}

.carousel .slide[data-active] {
  opacity: 1;
}

.carousel .carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 100px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 10px;
  padding: 0;
}

.carousel .carousel-button:hover,
.carousel .carousel-button:focus {
  color: #EEE8A9;
}

.carousel .carousel-button.prev {
  left: 10px;
}

.carousel .carousel-button.next {
  right: 10px;
}

@media screen and (min-width: 420px) and (max-width: 720px) {
  .slideshow {
    font-size: 20px;
    padding: 10px 0 10px 0;
  }
  .slideshow::after {
    height: 180px;
    width: 160px;
    right: 5%;
    top: 75px;
  }
  .carousel {
    height: 50vh;
  }
  .carousel .exin-1::before {
    top: 85px;
    left: 77%;
    font-size: 12px;
    width: 150px;
  }
  .carousel .exin-1::after {
    top: 125px;
    left: 76%;
    font-size: 8px;
    width: 140px;
    line-height: 10px;
  }
  .carousel .exin-2::before {
    top: 85px;
    left: 77%;
    font-size: 12px;
    width: 150px;
  }
  .carousel .exin-2::after {
    top: 125px;
    left: 76%;
    font-size: 8px;
    width: 140px;
    line-height: 10px;
  }
  .carousel .exin-3::before {
    top: 85px;
    left: 77%;
    font-size: 12px;
    width: 150px;
  }
  .carousel .exin-3::after {
    top: 125px;
    left: 76%;
    font-size: 8px;
    width: 140px;
    line-height: 10px;
  }
  .carousel .exin-4::before {
    top: 85px;
    left: 77%;
    font-size: 12px;
    width: 150px;
  }
  .carousel .exin-4::after {
    top: 125px;
    left: 76%;
    font-size: 8px;
    width: 140px;
    line-height: 10px;
  }
  .carousel .exin-5::before {
    top: 85px;
    left: 77%;
    font-size: 12px;
    width: 150px;
  }
  .carousel .exin-5::after {
    top: 125px;
    left: 76%;
    font-size: 8px;
    width: 140px;
    line-height: 10px;
  }
  .carousel .exin-6::before {
    top: 85px;
    left: 77%;
    font-size: 12px;
    width: 150px;
  }
  .carousel .exin-6::after {
    top: 125px;
    left: 76%;
    font-size: 8px;
    width: 140px;
    line-height: 10px;
  }
  .carousel .carousel-button {
    z-index: 2;
    top: 75%;
  }
}

.pandt .slideshow {
  background-color: #00446b;
  color: #f28100;
  font-size: 40px;
  text-align: center;
  padding: 20px 0 20px 0;
  position: relative;
  top: 0;
}

.pandt .slideshow::after {
  content: "";
  position: absolute;
  left: 7%;
  top: 115px;
  display: block;
  height: 410px;
  width: 350px;
  background-color: #00446b;
  z-index: 2;
  -webkit-box-shadow: -4px 4px 6px black;
          box-shadow: -4px 4px 6px black;
}

.pandt .carousel {
  height: 80vh;
  position: relative;
  background-color: #202124;
}

.pandt .carousel ul {
  position: absolute;
  top: 0;
  right: -19%;
  width: 100%;
  height: 100%;
}

.pandt .carousel .slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  -webkit-transition: 300ms opacity ease-in-out;
  transition: 300ms opacity ease-in-out;
}

.pandt .carousel .slide img {
  display: block;
  width: 80vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.pandt .carousel .pete-1::before {
  content: "Nonstop Fun";
  position: absolute;
  top: 120px;
  left: 1%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 320px;
  background-color: transparent;
  color: #EEE8A9;
  z-index: 3;
  font-size: 25px;
  font-weight: 700;
}

.pandt .carousel .pete-1::after {
  content: "The Civic Sedan is engineered for instantaneous response, with a sport-tuned suspension and upgraded powertrain options, including an available 180-horsepower* turbocharged engine.";
  position: absolute;
  top: 190px;
  left: 1%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 320px;
  background-color: transparent;
  color: white;
  z-index: 3;
  font-size: 20px;
  line-height: 20px;
  text-shadow: 1px 1px 3px #EEE8A9;
}

.pandt .carousel .pete-2::before {
  content: "Engineering";
  position: absolute;
  top: 120px;
  left: 1%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 320px;
  background-color: transparent;
  color: #EEE8A9;
  z-index: 3;
  font-size: 25px;
  font-weight: 700;
}

.pandt .carousel .pete-2::after {
  content: "Whether you're accelerating from a standstill or passing at speed, the 180-horsepower* engine delivers a forceful response.";
  position: absolute;
  top: 190px;
  left: 1%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 320px;
  background-color: transparent;
  color: white;
  z-index: 3;
  font-size: 20px;
  line-height: 20px;
  text-shadow: 1px 1px 3px #EEE8A9;
}

.pandt .carousel .pete-3::before {
  content: "Driving Experience";
  position: absolute;
  top: 120px;
  left: 1%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 320px;
  background-color: transparent;
  color: #EEE8A9;
  z-index: 3;
  font-size: 25px;
  font-weight: 700;
}

.pandt .carousel .pete-3::after {
  content: "Take control of the transmission's shift points with the steering wheel-mounted paddle shifters. Downshift for some extra passing power or shft up on the open highway, all without taking your hands off the wheel.";
  position: absolute;
  top: 190px;
  left: 1%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 320px;
  background-color: transparent;
  color: white;
  z-index: 3;
  font-size: 20px;
  line-height: 20px;
  text-shadow: 1px 1px 3px #EEE8A9;
}

.pandt .carousel .pete-4::before {
  content: "Tech at Every Turn";
  position: absolute;
  top: 120px;
  left: 1%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 320px;
  background-color: transparent;
  color: #EEE8A9;
  z-index: 3;
  font-size: 25px;
  font-weight: 700;
}

.pandt .carousel .pete-4::after {
  content: "Hear your playlists like never before with the newly available Bose Premium Sound System. Tap into your smartphone with Apple Carplay® and Android Auto™ integration. And orchestrate it all through the touch-screen, with available Smart Shortcuts to help you find your favorites.";
  position: absolute;
  top: 190px;
  left: 1%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 320px;
  background-color: transparent;
  color: white;
  z-index: 3;
  font-size: 20px;
  line-height: 20px;
  text-shadow: 1px 1px 3px #EEE8A9;
}

.pandt .carousel .pete-5::before {
  content: "Connectivity";
  position: absolute;
  top: 120px;
  left: 1%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 320px;
  background-color: transparent;
  color: #EEE8A9;
  z-index: 3;
  font-size: 25px;
  font-weight: 700;
}

.pandt .carousel .pete-5::after {
  content: "With all the integrated devices and technology, you as a driver can experience a sultry, comfortable ride without compensating for performance.";
  position: absolute;
  top: 190px;
  left: 1%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 320px;
  background-color: transparent;
  color: white;
  z-index: 3;
  font-size: 20px;
  line-height: 20px;
  text-shadow: 1px 1px 3px #EEE8A9;
}

.pandt .carousel .pete-6::before {
  content: "Premium Sound System";
  position: absolute;
  top: 120px;
  left: 1%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 320px;
  background-color: transparent;
  color: #EEE8A9;
  z-index: 3;
  font-size: 25px;
  font-weight: 700;
}

.pandt .carousel .pete-6::after {
  content: "The new 12-speaker Bose Premium Sound System features Centerpoint® surround-sound technology to immerse you in every note.";
  position: absolute;
  top: 190px;
  left: 1%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 320px;
  background-color: transparent;
  color: white;
  z-index: 3;
  font-size: 20px;
  line-height: 20px;
  text-shadow: 1px 1px 3px #EEE8A9;
}

.pandt .carousel .pete-7::before {
  content: "Peace of Mind";
  position: absolute;
  top: 120px;
  left: 1%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 320px;
  background-color: transparent;
  color: #EEE8A9;
  z-index: 3;
  font-size: 25px;
  font-weight: 700;
}

.pandt .carousel .pete-7::after {
  content: "The blind spot information system* can detect and alert you to the presence of other vehicles to the side of your Civic Sedan. The Tourin Trim also includes cross traffic monitor,* which can alert you to approaching vehicles detected when you're backing up.";
  position: absolute;
  top: 190px;
  left: 1%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  height: 50px;
  width: 320px;
  background-color: transparent;
  color: white;
  z-index: 3;
  font-size: 20px;
  line-height: 20px;
  text-shadow: 1px 1px 3px #EEE8A9;
}

.pandt .carousel .slide[data-active] {
  opacity: 1;
}

.pandt .carousel .carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 100px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 10px;
  padding: 0;
}

.pandt .carousel .carousel-button:hover,
.pandt .carousel .carousel-button:focus {
  color: #EEE8A9;
}

.pandt .carousel .carousel-button.prev {
  left: 10px;
}

.pandt .carousel .carousel-button.next {
  right: 10px;
}

@media screen and (min-width: 420px) and (max-width: 720px) {
  .pandt .slideshow {
    font-size: 20px;
    padding: 10px 0 10px 0;
  }
  .pandt .slideshow::after {
    left: 5%;
    top: 75px;
    height: 180px;
    width: 170px;
  }
  .pandt .carousel {
    height: 50vh;
  }
  .pandt .carousel .pete-1::before {
    top: 85px;
    left: 7%;
    font-size: 12px;
    width: 150px;
  }
  .pandt .carousel .pete-1::after {
    top: 125px;
    left: 6%;
    font-size: 8px;
    width: 140px;
    line-height: 10px;
  }
  .pandt .carousel .pete-2::before {
    top: 85px;
    left: 7%;
    font-size: 12px;
    width: 150px;
  }
  .pandt .carousel .pete-2::after {
    top: 125px;
    left: 6%;
    font-size: 8px;
    width: 140px;
    line-height: 10px;
  }
  .pandt .carousel .pete-3::before {
    top: 85px;
    left: 7%;
    font-size: 12px;
    width: 150px;
  }
  .pandt .carousel .pete-3::after {
    top: 125px;
    left: 6%;
    font-size: 8px;
    width: 140px;
    line-height: 10px;
  }
  .pandt .carousel .pete-4::before {
    top: 85px;
    left: 7%;
    font-size: 12px;
    width: 150px;
  }
  .pandt .carousel .pete-4::after {
    top: 125px;
    left: 6%;
    font-size: 8px;
    width: 140px;
    line-height: 10px;
  }
  .pandt .carousel .pete-5::before {
    top: 85px;
    left: 7%;
    font-size: 12px;
    width: 150px;
  }
  .pandt .carousel .pete-5::after {
    top: 125px;
    left: 6%;
    font-size: 8px;
    width: 140px;
    line-height: 10px;
  }
  .pandt .carousel .pete-6::before {
    top: 85px;
    left: 7%;
    font-size: 12px;
    width: 150px;
  }
  .pandt .carousel .pete-6::after {
    top: 125px;
    left: 6%;
    font-size: 8px;
    width: 140px;
    line-height: 10px;
  }
  .pandt .carousel .pete-7::before {
    top: 85px;
    left: 7%;
    font-size: 12px;
    width: 150px;
  }
  .pandt .carousel .pete-7::after {
    top: 125px;
    left: 6%;
    font-size: 8px;
    width: 140px;
    line-height: 10px;
  }
  .pandt .carousel .slide[data-active] {
    opacity: 1;
  }
  .pandt .carousel .carousel-button {
    top: 75%;
  }
}

.bottom-banner {
  width: 100vw;
  height: 60vh;
  background-color: #202124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom-banner .banner-wrapper {
  background-image: url("../assets/civic-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 50vh;
  width: 95vw;
  margin-right: 1%;
  position: absolute;
}

.bottom-banner .banner-wrapper .first {
  position: relative;
  top: 80px;
  left: 18%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  color: #f28100;
  font-size: 30px;
}

.bottom-banner .banner-wrapper .second {
  color: #EEE8A9;
  position: relative;
  top: 110px;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
}

.bottom-banner .banner-wrapper button {
  cursor: pointer;
  border-radius: 10px;
  border: transparent;
  height: 30px;
  width: 140px;
  background-color: #00446b;
  position: relative;
  top: 130px;
  left: 8%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bottom-banner .banner-wrapper button:hover {
  background-color: #EEE8A9;
}

.bottom-banner .banner-wrapper button:hover a {
  color: #00446b;
  font-weight: 700;
  z-index: 1;
}

.bottom-banner .banner-wrapper button a {
  text-decoration: none;
  color: #EEE8A9;
}

@media screen and (min-width: 420px) and (max-width: 720px) {
  .bottom-banner {
    display: none;
  }
}

.shopping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(#202124), to(#f5f5f5));
  background: linear-gradient(#202124, #f5f5f5);
}

.shopping .shop-title {
  color: #f28100;
  font-size: 40px;
}

.shopping .shop-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 100vw;
}

.shopping .shop-wrapper .shop-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid transparent;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
  margin: 50px 40px 50px 40px;
  padding: 40px 0 30px 0;
  color: #00446b;
  font-size: 20px;
  font-weight: 700;
}

.shopping .shop-wrapper .shop-options:hover {
  -webkit-box-shadow: 0 8px 16px black;
          box-shadow: 0 8px 16px black;
}

.shopping .shop-wrapper .shop-options img, .shopping .shop-wrapper .shop-options p {
  padding: 15px 0 20px 0;
}

.shopping .shop-wrapper .shop-options .little {
  margin-top: -12.5px;
}

.shopping .shop-wrapper .shop-options #shop-img-1 {
  width: 75px;
  height: 75px;
}

.shopping .shop-wrapper .shop-options #shop-img-2 {
  width: 160px;
  height: 90px;
}

.shopping .shop-wrapper .shop-options #shop-img-3 {
  width: 150px;
  height: 90px;
}

.shopping .shop-wrapper .shop-options #shop-img-4 {
  width: 90px;
  height: 80px;
}

.shopping .shop-wrapper .shop-options button {
  cursor: pointer;
  margin-top: 15px;
  border-radius: 20px;
  border: transparent;
  height: 30px;
  width: 80px;
  background-color: #00446b;
}

.shopping .shop-wrapper .shop-options button:hover {
  background-color: #EEE8A9;
}

.shopping .shop-wrapper .shop-options button:hover a {
  color: #00446b;
  font-weight: 700;
  z-index: 1;
}

.shopping .shop-wrapper .shop-options button a {
  text-decoration: none;
  color: #EEE8A9;
}

@media screen and (min-width: 420px) and (max-width: 720px) {
  .shopping {
    padding-top: 25px;
  }
  .shopping .shop-title {
    font-size: 20px;
  }
  .shopping .shop-wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .shopping .shop-wrapper .shop-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px 10px 20px 10px;
    padding: 20px 0 10px 0;
    font-size: 18px;
  }
  .shopping .shop-wrapper .shop-options img, .shopping .shop-wrapper .shop-options p {
    padding: 5px 0 10px 0;
  }
  .shopping .shop-wrapper .shop-options .little {
    margin-top: -5px;
  }
  .shopping .shop-wrapper .shop-options #shop-img-1 {
    width: 50px;
    height: 50px;
  }
  .shopping .shop-wrapper .shop-options #shop-img-2 {
    width: 110px;
    height: 65px;
  }
  .shopping .shop-wrapper .shop-options #shop-img-3 {
    width: 110px;
    height: 70px;
  }
  .shopping .shop-wrapper .shop-options #shop-img-4 {
    width: 80px;
    height: 70px;
  }
  .shopping .shop-wrapper .shop-options button {
    cursor: pointer;
    margin-top: 15px;
    border-radius: 20px;
    border: transparent;
    height: 30px;
    width: 80px;
    background-color: #00446b;
  }
  .shopping .shop-wrapper .shop-options button:hover {
    background-color: #EEE8A9;
  }
  .shopping .shop-wrapper .shop-options button:hover a {
    color: #00446b;
    font-weight: 700;
    z-index: 1;
  }
  .shopping .shop-wrapper .shop-options button a {
    text-decoration: none;
    color: #EEE8A9;
  }
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  background-color: #f5f5f5;
  position: relative;
  padding-top: 80px;
}

#footer .bhl {
  height: 100px;
  width: 170px;
  margin-bottom: 80px;
  position: relative;
}

#footer .footer-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100vw;
}

#footer .footer-1 .footer-1-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

#footer .footer-1 .footer-1-a div {
  margin: -10px 0 20px 0;
  color: #00446b;
  font-size: 25px;
  font-weight: 700;
}

#footer .footer-1 .footer-1-a div .socmedia {
  height: 50px;
  width: 50px;
}

#footer .footer-1 .footer-1-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -35px;
}

#footer .footer-1 .footer-1-b div {
  margin: 0 0 30px 0;
  color: #00446b;
  font-size: 22px;
  font-weight: 700;
}

#footer .footer-1 .footer-1-b button {
  cursor: pointer;
  border-radius: 20px;
  border: transparent;
  height: 40px;
  width: 170px;
  background-color: #00446b;
  margin-top: -10px;
}

#footer .footer-1 .footer-1-b button:hover {
  background-color: #EEE8A9;
}

#footer .footer-1 .footer-1-b button:hover a {
  color: #00446b;
  font-weight: 700;
  z-index: 1;
}

#footer .footer-1 .footer-1-b button a {
  text-decoration: none;
  color: #EEE8A9;
}

#footer .footer-2 {
  position: relative;
  height: 100%;
  width: 100vw;
  background-color: #007bc1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer .footer-2 .foot-text-1 {
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: white;
  font-size: 12px;
  margin: 20px 0 0 0;
  width: 500px;
}

#footer .footer-2 .foot-text-2 {
  position: absolute;
  bottom: 10%;
  right: 5%;
  color: white;
  font-size: 12px;
  margin: 20px 0 0 0;
  width: 500px;
}

#footer .footer-2 .foot-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  margin-top: -40px;
}

#footer .footer-2 .foot-img img#fi-1 {
  height: 70px;
  width: 90px;
  margin: 0 20px 0 20px;
}

#footer .footer-2 .foot-img img#fi-2 {
  height: 100px;
  width: 130px;
  margin: 0 20px 0 20px;
}

#footer .footer-2 .foot-img img#fi-3 {
  height: 70px;
  width: 70px;
  margin: 0 20px 0 20px;
}

#footer .footer-2 .foot-img img#fi-4 {
  height: 90px;
  width: 140px;
  margin: 0 20px 0 20px;
}

#footer .footer-2 .foot-img img#fi-5 {
  height: 100px;
  width: 130px;
  margin: 0 20px 0 20px;
}

#footer .footer-2 .foot-img img#fi-6 {
  height: 160px;
  width: 180px;
  margin: 0 20px 0 20px;
}

#footer .footer-2 .foot-img img#fi-7 {
  height: 70px;
  width: 160px;
  margin: 0 20px 0 20px;
}

#footer::before {
  content: "";
  display: block;
  border-top: 7px solid #007bc1;
  width: 90vw;
  margin-bottom: 20px;
}

#footer::after {
  content: "";
  position: absolute;
  display: block;
  border-bottom: 2px solid rgba(32, 33, 36, 0.2);
  width: 90vw;
  top: 40%;
}

@media screen and (min-width: 420px) and (max-width: 720px) {
  #footer {
    padding-top: 20px;
  }
  #footer .footer-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100vw;
  }
  #footer .footer-1 .footer-1-a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  #footer .footer-1 .footer-1-a div {
    margin: 0 0 20px 0;
    color: #00446b;
    font-size: 16px;
    font-weight: 700;
  }
  #footer .footer-1 .footer-1-a div .socmedia {
    margin-left: 20px;
    height: 50px;
    width: 50px;
  }
  #footer .footer-1 .footer-1-b {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -65px;
  }
  #footer .footer-1 .footer-1-b div {
    margin: 0 0 50px 0;
    color: #00446b;
    font-size: 14px;
    font-weight: 700;
  }
  #footer .footer-1 .footer-1-b button {
    cursor: pointer;
    border-radius: 20px;
    border: transparent;
    height: 40px;
    width: 170px;
    background-color: #00446b;
    margin-top: -30px;
    margin-right: 10px;
  }
  #footer .footer-1 .footer-1-b button:hover {
    background-color: #EEE8A9;
  }
  #footer .footer-1 .footer-1-b button:hover a {
    color: #00446b;
    font-weight: 700;
    z-index: 1;
  }
  #footer .footer-1 .footer-1-b button a {
    text-decoration: none;
    color: #EEE8A9;
  }
  #footer .footer-2 {
    position: relative;
    height: 100%;
    width: 100vw;
    background-color: #007bc1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #footer .footer-2 .foot-text-1 {
    position: absolute;
    top: -10%;
    left: 2%;
    color: white;
    font-size: 6px;
    width: 400px;
  }
  #footer .footer-2 .foot-text-2 {
    position: absolute;
    bottom: 20%;
    right: 2%;
    color: white;
    font-size: 6px;
    margin: 20px 0 0 0;
    width: 400px;
  }
  #footer .footer-2 .foot-img {
    display: none;
  }
  #footer::before {
    content: "";
    display: block;
    border-top: 7px solid #007bc1;
    width: 90vw;
    margin-bottom: 20px;
  }
  #footer::after {
    content: "";
    position: absolute;
    display: block;
    border-bottom: 2px solid rgba(32, 33, 36, 0.2);
    width: 90vw;
    top: 40%;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Montserrat", serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body {
  overflow-x: hidden;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
}
/*# sourceMappingURL=styles.css.map */